
@{
    ViewData["Title"] = "Denegado";
}

<h1>No tienes permisos para acceder a esta pagina, intenta logearte</h1>



<a href="@Url.Action("Login", "Acceso")" class="btn btn-warning">Ir al inicio de sesión</a>