
@{
    ViewData["Title"] = "Pagado";
}

<h1>Su pago esta en proceso de confirmacion</h1>




<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ListaProductosVender", "Vistas")'">
    Seguir comprando
</button>